* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }
  
  .register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #6a11cb, #2575fc); 
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .register-container h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .register-container input {
    width: 100%;
    max-width: 400px;
    padding: 0.8rem;
    margin-bottom: 1.2rem;
    border-radius: 10px;
    border: 2px solid #080808;
    background-color: #fff;
    color: #333;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }
  
 
  
  .register-container button {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    background-color: #4c51bf;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .register-container button:hover {
    background-color: #434190;
    transform: scale(1.05);
  }
  
  .error {
    color: #e53e3e;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    text-align: center;
  }
  
  .register-container .register-link-container {
    text-align: center;
    margin-top: 1.5rem;
  }
  
  .register-container .register-link {
    color: #4c51bf;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .register-container .register-link:hover {
    color: #434190;
    text-decoration: underline;
  }
  
  .register-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  